<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card my-4">
        <h5 class="card-header">
          تسجيل دخول
        </h5>
        <div class="card-body">

          <div *ngIf="showError" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>

          <form
            [formGroup]="loginForm"
            autocomplete="off"
            novalidate
            (ngSubmit)="loginUser()"
          >
            <div class="mb-3 row">
              <label for="email" class="col-form-label col-sm-2"
                >الايميل:</label
              >
              <div class="col-md-5">
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="form-control"
                />
              </div>
              <div class="col-md-5">
                <em
                  *ngIf="
                    validateControl('email') && hasError('email', 'required')
                  "
                  >حقل الايميل مطلوب</em
                >
                <em
                  *ngIf="validateControl('email') && hasError('email', 'email')"
                  >صيفة البريد الاكتروني غير صحيحة</em
                >
              </div>
            </div>
            <div class="mb-3 row">
              <label for="password" class="col-form-label col-sm-2"
                >كلمة المرور:</label
              >
              <div class="col-md-5">
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control"
                />
              </div>
              <div class="col-md-5">
                <em
                  *ngIf="
                    validateControl('password') &&
                    hasError('password', 'required')
                  "
                  >كلمة المرور مطلوبة</em
                >
              </div>
            </div>
            <br />
            <div class="mb-3 row">
              <div class="col-md-12 text-center">
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!loginForm.valid"
                >
                  تسجيل الدخول
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
