/* You can add global styles to this file, and also import other style files */

footer {
  background-color: #009c96;
}

@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url("./assets/fonts/HelveticaNeueLTArabic-Roman.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueLTArabic-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
}
